/* Table of content */

/* imports of fonts */

h1 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('/css/fonts/segmdl2.ttf') format('truetype'),
       url('path/to/segoe.woff') format('woff'),
       url('path/to/segoe.woff2') format('woff2');
}
:root{
  
    /* background-color: ; */

    --primary-color : rgb(25 40 56);
    --secondary-color: red;
    --bg-white : #fff;
    --bg-dark : rgb(25 40 56);
    
    --btn-primary-color : #ffff;


    /* text font-style: ; */

    --primary-font:'Roboto Slab', serif;
    --secondary-font :'Roboto Slab', serif; 
    --primary-font-color :  rgb(25 40 56);

    --secondary-font-color : #FFFFF;

}
a{
    text-decoration: none;
}
body{
    
    /* font-family: var(--primary-font); */
    background-color:  rgb(25 40 56) !important;
    color: var(--secondary-font-color) !important;
    font-family: "Segoe UI";
    overflow-x: hidden;

}
.aboutBackround{
  background-image: url("/images/logo/Pro\ health.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

::-webkit-scrollbar{
    width: .375rem;
    
}
::-webkit-scrollbar-track{
    background: black;

}
::-webkit-scrollbar-thumb{
    background: rgb(165, 65, 65);

}
.wrapper{
  padding: 18.25rem 0;
}
.main-btn{
  display: inline-block;
  border: 8pxpx solid var(--bg-white);
  color: var(rgba(22,68,117,1));
  /* padding: 0.75rem 3.375rem; */
  text-align: left;
  font-size: 1rem;
  background: transparent;
  text-transform: capitalize;
  border-radius: 0.1875rem;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  font-family: Segoe UI;
  /* font-style: normal; */
  font-weight: bold;
  font-size: 18px;
  border-radius: 16px;
  padding: 11px 41px 15px 32px;
}
.main-btn:hover{
    background-color: var(--btn-primary-color);
    color: var(--primary-font-color);
}
.fill-btn{
    background-color: rgba(146,231,213,1);
    border-color: var(--secondary-color);
    color: var(--secondary-font-color);
    text-decoration: none;
}
.fill-btn:hover{
    background-color: var(--bg-white);
    background-color: var(--bg-dark);
}
.banner_wrapper .left-div{
  background-image: url("/images/about/girl\ background.png");
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  /* height: 60rem;  */
  /* margin-bottom:10px ; */
}

.topSection{
  background-image: url(/images/banner/Group\ 362.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  margin-bottom: 10px;
  /* border-radius: 0 0 50% 50%/0 0 50% 50%; */
  position: relative;
}



.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus,
.header_wrapper .nav-item .nav-link:active
{
   color: rgb(197, 60, 60)

}
/* .navbar .nav-link.nav-link-scroll {
  color: #fff;
} */

/* .logobackground{
  background: #ffffff;
  align-items: center;
  border-radius: 50%;
  width: auto;
} */
/* .logobackground img{
  height: 7rem;
  margin-left: 1rem;
} */
/* .inputBoxBorder{
  box-shadow: 3px 3px #46414194;;
} */
/* .container{
    max-width: 1600px !important;
} */

.bannercurve{
    filter: drop-shadow(0px -15px 5px #ebe7a1fc);
}.banner_content{
               /* margin: 0; */
    /* padding: 0px; */
    /* box-sizing: border-box; */
    /* color: white; */
    /* font-size: 52px; */
    font-weight: 900;
    float: left;
}


@keyframes movebounce{
    0%{
        -webkit-transform: translateY(0);
     transform: translateY();
    }
    50%{
        -webkit-transform: translateY(0);
        transform: translateY(); 
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(); 
    }
}


.stage {
    border-bottom: 3px solid #444;
    display: flex;
    height: 222px;
    width: 100%;
}
/* .box {
  align-self: flex-end;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-color: #F44336;
  height: 74px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 7%;
  border-radius: 5%;
} */

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

  /* about css  */

  .aboutcontainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .abouttext-div {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 6rem;
    color: white;
  }

  .aboutimage-div {
    position: absolute;
    right: 5px;
    top: 0;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
  }

  .aboutimage-div img {
    max-width: 62rem;
    height: auto;
    margin-top: 0rem;
    position: relative;
  }
  .aboutcontainerwrapper
  {
    margin-bottom: 25rem;
  } 
 
  .line {
    width: 55%;
    height: 7px;
    background-color: #5c64fe;
    margin-bottom: 13px;
  }
  
   .knowmore_btn {
    background-color: #fff;
    color: rgba(22,68,117,1);
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 45px;
    cursor: pointer;
    /* margin-top: 20px; */
    /* position: revert; */
    width: 353px;
    height: 101px;
    font-weight: 700;
    margin: inherit;
  }
  
  .animation_container {
    height: 200px;
    position: relative;
    margin-bottom: 20rem;
    /* margin-left: 120%; */
  }
  
  .ball {
    width: 30px;
    height: 30px;
    background-color: #ff5c5c;
    border-radius: 50%;
    position: absolute;
    animation: jump 2s infinite;
    margin-right: 10px;
  }
  
  @keyframes jump {
    0% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
    100% {
      bottom: 0;
    }
  }
  
  .ball:nth-child(2) {
    background-color: #4aa9e9;
    left: 40px;
    animation-delay: 0.25s;
  }
  
  .ball:nth-child(3) {
    background-color: #a9e94a;
    left: 80px;
    animation-delay: 0.5s;
  }
  
  .ball:nth-child(4) {
    background-color: #e94aa9;
    left: 120px;
    animation-delay: 0.75s;
  }
  
  .image-section {
    flex-basis: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .about_img {
    max-width: 100%;
    height: auto;
    display: block;
  }


  /* team_card css  */

  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 36px;
  }
  
  .team_card {
    width: 270px;
    background-color: #f9f9f900;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    position: relative;
  }
  .team_card-overlay {
    position: absolute;
    top: 12%;
    left: -1%;
    width: 80%;
    height: 65%;
    background-color: rgb(252 192 179);
    z-index: 1;
    border-radius: 20px
  }
  
  .team_card-img {
    width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 2;
    /* position: absolute; */
  }
  
  .team_card-content {
    padding: 10px;
    text-align: center;
  }
  
  .team_card-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .team_card-description {
    margin: 5px 0;
    font-size: 16px;
    color: #777;
  }

.team_heading{
  font-size: 71px;
    font-weight: 700;
}
  .team_header{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 90px;
    color: white;
  }
  .team_line {
    width: 47%;
    height: 4px;
    background-color: #387488;
    margin-left: 26%;
    float: left;
}


/* fading css */

  .reveal {
    position: relative;
    opacity: 1;
  }

  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  .active.fadeout-left {
    animation: fadeout-left 1s ease-in;
  }
  .active.fadeout-right {
    animation: fadeout-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-75px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(75px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadeout-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-75px);
      opacity: 0;
    }
  }
  
  @keyframes fadeout-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(75px);
      opacity: 0;
    }
  }


  /* navbar css  */

  /* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;

  } */
  
  
  /* .navbar-brand {
    margin-left: 15px;
  } */
  
  /* .navbar-nav {
    margin-right: 15px;
  } */
  
  /* .navbar-nav .nav-link {
    font-size: 19px;
  }
  
  .navbar-nav .btn {
    margin-left: 15px;
  }
  .navbar .nav-link {
    color: #333;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-link.nav-link-scroll {
    color: #fff;
  } */


  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blinking-button {
    animation: blink 1s infinite;
    padding: 4px;
    margin-top: 6px;
    border-radius: 5%;
    border: none;
    /* width: 111%; */
    font-weight: 700;
    color: #192838;
    background-color: #888812;
  }

  .label{
    padding: 7px 9px 0px 0px;
    font-weight: 600;
  }

  .slider-container {
    width: 300px;
  }
  
  #heightLabel {
    margin-top: 10px;
  }
  
  #heightDropdown {
    margin-top: 10px;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    75% { transform: translateX(5px) rotate(5deg); }
    100% { transform: translateX(0); }
  }
  
  .fa-shakeee {
    animation: shake 0.5s infinite;
  }





  /* Bmi Out css  */

  .row {
    display: flex;
  }
  
  .col {
    flex: 1;
  }
  
  .bmi_output_box {
    height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: auto;
  /* width: 70px; */
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }
  
 
  .box-container {
    display: flex;
      /* justify-content: space-between; */
      margin: auto;
      margin: 6px 0 16px 43px;
  }
  
  .box {
    flex-basis: 24%;
    height: 100px;
    border-radius: 8px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 11px;
    padding: inherit;
    margin-bottom: 10px;
  }
  
  .box-red {
    background-color: rgba(252,205,129,1);
  }
  
  .box-blue {
    background-color: rgba(108,203,109,1);
  }
  
  .box-green {
    background-color: rgba(238,145,105,1);
  }
  
  .box-yellow {
    background-color: rgba(204,76,84,1);
  }
  

  /* navbar  */
  .navbar {
    background-color: #ffffff; /* White background */
  }
  
  .navbar-brand {
    color: rgb(22, 68, 117); /* Dark blue text */
    font-size: 27px; /* Font size */
    font-family: "SegoeUI-Bold", "Segoe UI"; /* Font family */
    font-weight: 600; /* Font weight */
  }
  
  .navbar-nav .nav-link {
    color: rgb(22, 68, 117) !important;
    font-size: 25px;
    /* font-family: "SegoeUI-Bold", "Segoe UI"; */
    font-weight: 700;
  }
  
  .dropdown-menu {
    background-color: #ffffff; /* White background for dropdown menu */
  }
  
  

  .navbar .nav-item {
    font-size: 30px;
    margin-right: 1rem;
    font-family: "Segoe UI";
    font-weight: 700;
    padding: 9px 0 0px 0px;

  }
  /* .navbar .navbar-brand {
    color: var(--primary-font-color);
    font-weight: 700;
   
  } */

  /* .navbar .navbar-nav .nav-link {
    color:rgba(22,68,117,1); 
  } */


  .glow-button {
    display: inline-block;
    padding: 10px 21px 14px 27px;
    font-size: 21px;
    background-color: rgb(87 117 150);
    color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(60, 155, 209);
    cursor: pointer;
    animation: glow 0.2s infinite alternate;
    font-size: 20px !important;
    background-color: lightblue !important;
  }
  .navbar-nav.navbar-light .nav-link.white-text {
    color: black; /* Text color when outside the home section */
  }

  

  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgb(15, 63, 109); /* Initial glow effect */
    }
    100% {
      box-shadow: 0 0 20px rgb(100, 131, 197); /* Enhanced glow effect */
    }
  }

  @keyframes innerGlow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .herocontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .herocontainer .left {
    width: 64%;
    /* max-width: 50%; */
    text-align: center;
    background-image: url(/images/about/girl\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 6px;
    margin-left: 0px;
    position: relative;
    background-position: inherit;
    height: 40rem;

  }
  
  /* .left img {
    width: 167%;
    height: auto;
    margin-left: 125px;
  } */
  
  .left .image-text {
    position: relative;
    top: 49%;
    left: 11%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 58px;
    font-weight: bold;
  }
  
  .right {
    width: 30%;
    /* max-width: 35%; */
    text-align: center;
    position: relative;
    margin-right: 2rem;
  }
  
  /* .bmi-calculator {
    position: absolute;
    top: 30%;
    right: 0;
    width: 100%;
    max-width: 507px;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 58px;    
    margin-right: 75px;
    padding-right: 28px;
    box-shadow:inset 0px 3px 6px rgba(0, 0, 0, 0.161);
    
  } */
  .slider{
    width: 44%;
    -webkit-appearance: none;
    border-radius: 60%;
    background-color: #132f4e;
    color: #132f4e;
    border-radius: 59px;
    height: 5px;
    
  }
  .bmi-calculator {
    position: relative;
    top: 25%;
    right: 0;
    /* transform: translate(50%, -50%); */
    /* width: 100%; */
    max-width: 368px;
    height: auto;
    /* padding: 10px; */
    background-color: #ffffff;
    border-radius: 51px;
    margin-right: 16px;
    padding-right: 28px;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.161), 0px 3px 6px rgba(0, 0, 0, 0.161);
    float: right;
  }

  .bmi-calculator .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .custom-row {
    display: flex;
    justify-content: space-between;
  }
  
  .bmi-calculator .input-group label {
    flex: 0 0 18%;
    text-align: left;
    /* margin-right: -4px; */
    padding: 0px 15px 0px 26px;
    padding: auto;
    font-weight: 700;
    color: rgb(0 38 78);
    font-size: 16px;
  }
  
  /* .bmi-calculator .input-group input {
    flex: 1;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 13px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 28%);
  } */
  .inputBox{
    flex: 1;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 18px;
    box-shadow:inset 0px 3px 6px rgba(0, 0, 0, 0.161);
  }
  
  .bmi-calculator input[type="text"]{
    opacity: 1;
  }
  
  .bmi-calculator input[type="text"],
.bmi-calculator input[type="number"],
.bmi-calculator input[type="tel"],
.bmi-calculator select {
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  height: 41px;
  
}


.bmi_output{
  height: 33px;
  /* width: 67px; */
  margin: auto;
  /* margin: 25px 50px 75px 100px; */
  /* background-color: transparent; */
  /* border-radius: 16px; */
  /* padding: 14px; */
  text-align: center;
  font-weight: 900;
  font-size: 19px;
}


  .bmi-calculator select[type="number"] {
    width: 100%;
    max-width: 100px;
    height: 53px;
}
  
  
  .input-group-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  .input-group-row .input-group label {
    display: block;
    margin-bottom: 5px;

  }
 
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  .input-group-dropwon {
    position: absolute;
    z-index: 1;
    height: 44px;
    width: 56px;
    margin-top: -25px;
    border: 0px solid;
    color: #00264e;
    /* background-color: transparent; */
    font-weight: 800;
    box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.161);
    position: fixed;
    border-radius: 10%;
  }
  
  
  .input-group-append .input-group-text {
    padding: 0;
    border: none;
    background: transparent;
  }
  
  .input-group-append .input-group-text select {
    -webkit-appearance: none;
    appearance: none;
    /* background: transparent; */
    border: none;
    /* padding: 0 0.5rem; */
    cursor: pointer;
    height: 42px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    border-radius: -1px;
    margin-right: 4px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    width: 65px;
    font-size: 12px;
    font-weight: 700;
  }
  
  .flag-icon {
    width: 1.5em;
    height: 1em;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161) !important;
}
  
  
  
  
  
  
  
  
  .input-group-row .input-group input[type="number"]  input[type="tel"],
  .input-group-row .input-group select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-group-row .input-group select {
    appearance: none;
    background-color: transparent;
    background-image: url("path-to-down-arrow-icon");
    background-position: right 8px center;
    background-repeat: no-repeat;
    padding-right: 30px;
    flex: 1;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 28%);
  }

   
  .input-group-row .input-group select::-ms-expand {
    display: none;
  }
  
  /* .input-group-row .input-group input[type="number"]:focus,
  .input-group-row .input-group select:focus {
    border-color: #007bff;
  } */
 









  /* mid svg section  */

.midsvg{
  background-image: url(/images/logo/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  width: 100%;
  height: 50rem;
  margin-top: 0px;
  padding-top: 30rem;
  bottom: 0;
}





/* footer css */







.footer-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  font-family: 'Segoe UI';
}






.footer {
  background-color: black !important;
  padding: 20px;
  /* text-align: center; */
  font-family: 'Segoe UI';
  position: fixed ;
}

.footer-left {
  float: left;
  margin: 0 0 0 86px;
  color: white;
  /* font-size: 22px; */
}



.footer-left h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer-left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-left ul li {
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: 500;

}

.footer-right {
 float: right;
 color: #ffff;
}

.footer-right .footer-column h3
{
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}



 .footer-column ul li {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Segoe UI";
}




.footer-right .follow-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.store-icons{
  margin-top: 8rem;
}

.footer-right .footer-column .social-icons a{
  padding: 0px 14px 0px 15px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .footer-left, .footer-right {
    width: 100%;
    text-align: center;
  }
  
  .footer-right .section {
    margin-bottom: 10px;
  }
  
  .footer-right .follow-us {
    justify-content: space-around;
  }
}
.white-text {
  color: white !important;
}




/* scaler line css   */

.color-line {
  position: relative;
  width: 300px;
  height: 10px;
  background-color: lightgray;
  margin: 0 0 0 32px;
}

.color {
  position: absolute;
  top: 0;
  height: 100%;
}

.color.yellow {
  width: 25%;
  background-color: yellow;
}

.color.green {
  width: 25%;
  background-color: green;
  left: 25%;
}

.color.orange {
  width: 25%;
  background-color: orange;
  left: 50%;
}

.color.red {
  width: 25%;
  background-color: red;
  left: 75%;
}

.color-point {
  position: absolute;
  top: calc(100% - 5px);
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 10px;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
}




.outputContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* border: 1px solid #ccc; */
}

.button {
  padding: 8px 12px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  width: 38%;
  /* margin: auto; */
  margin: 9px 47px 10px 57px;
  /* padding: 10px; */
  background-color: #132f4e;
  color: white;
  height: 49px;
  margin-top: 10px;
}

.text-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.text-row h3 {
  margin-bottom: 7px;
  font-size: 34px;
  font-weight: 700;
}

.text-row p {

  margin: 0;
  font-size: 17px;
  text-decoration: underline;
  /* color: #555; 
  /* color: #555; */
}






/* Our Services Css  */
.service-card {
  text-align: center;
  padding: 20px;
}
.service-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}

.service-card h4,
.service-card p {
  color: white;
}





/* our program css */

.program-box {
  background-color: transparent;
  color: white;
  width: 400px;
  height: 300px;
  margin: 0 auto;
}
.program-box img{
  border-radius: 10%;
}

.program-box .card-body {
  padding: 10px;
}
.carousel-item .card{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff0;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    color: white;
    font-family: SegoeUI-Semibold, "Segoe UI";
    font-size: 18px;
    width: 350px;
}
.carousel-item {
  display: flex;
    justify-content: center;
}
.card-title {
  font-size: 35px;
  font-weight: bold;
  /* font-family: 'Segoe UI'; */
}

.card-text {
  font-size: 20px;
  /* font-family: 'Segoe UI'; */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}







/* about hero css  */

.hero-banner {
  background-image: url("/images/banner/Group\ 404\ \(1\).svg");
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  height: 100vh;
}

.hero-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.hero-subheading {
  font-size: 24px;
  color: #ffd700;
  margin-bottom: 20px;
}

.hero-paragraph {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  line-height: 40px;
}

.custom-container{
  max-width: 600px !important;
  font-family: 'Segoe UI';
  font-weight: 600;
} 



.cardHeaight {
  position: relative;
  height: 300px; /* Adjust the desired height */
  width: 250px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.container .row .card {
  position: relative;
  height: 315px;
  width: 250px;
  color: #00264e;
  font-family: 'Segoe UI';
  font-weight: 900;

  /* opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; */
}
.card-number {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -15px;
  margin-left: -15px;
  width: 40px;
  height: 40px;
  background-color: #fab84a;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}


.aboutwhychoseline {
  width: 24%;
  height: 7px;
  background-color: #fab84a;
  /* margin-bottom: 13px; */
  margin: 10px 0px 0px 19px;
  /* padding: 6px; */
  border-radius: 8px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}